
<div class="container shadow-line">
      <div class="logo-line row">
        <div class="col-1">
          <img class="logo" src="../assets/logo.png" alt="3ddd logo">
        </div>
          <div class="col">
            <form action="" method="post" class="search">
              <input type="search" name="" placeholder="" class="input" />
              <input type="submit" name="" value="" class="submit" />
            </form>
          </div>
      </div>

        <ul>
          <li class="active">
            <a href="#">3D Модели</a>
          </li>
          <li>
            <a href="#">Галерея</a>
          </li>
          <li>
            <a href="#">Работа</a>
          </li>
          <li>
            <a href="#">Форум</a>
          </li>
          <li>
            <a href="#">Блоги</a>
          </li>
          <li>
            <a href="#">Чат</a>
          </li>
          <li class="theme">
            <a href="#">Конкурс моделей</a>
          </li>
        </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="master-poly">Мастер полигона</div>
      <img class="main-image" src="../assets/image.jpg" alt="main-image">
    </div>
    <div class="col error">
      <div class="time">Осталось:</div>
      <div class="days">
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day green"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
      </div>
      <div class="row">
<!--        <div class="col-5 error2">-->
        <div class="error2">
          <div class="time-type">
            <div class="time-number">8</div>
            <div class="time-text">дней</div>
          </div>
          <div class="time-type">
            <div class="time-number">5</div>
            <div class="time-text">часов</div>
          </div>
          <div class="time-type">
            <div class="time-number">53</div>
            <div class="time-text">минуты</div>
          </div>
          <div class="time-type">
            <div class="time-number">11</div>
            <div class="time-text">секунд</div>
          </div>
        </div>
        <div class="col-6">
          <p class="conditions">
            В соревновании “Мастера полигона” участвуют модели, загруженные не позднее 14 дней назад. Модель остается на вершине до тех пор, пока ее не “сдвинет” другая работа с более высоким рейтингом или не кончится ее 14-дневный срок
          </p>
        </div>

        <div class="pro"><h1>Кинокамера Arri Alexa SXT</h1></div>

        <div class="main-text">
            Модель кинокамеры ARRI_ALEXA_SXT_Plus / Name: ARRI_ALEXA_SXT_Plus / Version: 2013 / Preview: Yes / Units: Millimeters / Dimension: 1040.89 x 793.9 x 1386.14 / Polys: 412 475 / Model Parts: 89 / Render: Corona / Formats: 3Ds Max 2013, OBJ, FBX На некоторых деталя
        </div>

        <div class="author">
          <img class="author-image" src="../assets/author.jpg" alt="author-image">
          <div class="author-name">skelington</div>
          <div class="author-sum">
            <span class="star">3090</span>
            <span class="commits">49</span>
            <span class="auth-date">9 мая 2018, 22:58</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>










<!--        <div class="row">-->
<!--          <div class="col-3">-->
<!--            Одна из трёх колонок-->
<!--          </div>-->
<!--          <div class="col-4">-->
<!--            Одна из трёх колонок-->
<!--          </div>-->
<!--          <div class="col-5">-->
<!--            Одна из трёх колонок-->
<!--          </div>-->
<!--        </div>-->





