// количество колонок
$grid-columns:                12;

// ширина gutter
//$grid-gutter-width:           1.5rem;
 $grid-gutter-width:           30px;

// scss-docs-start grid-breakpoints
//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px,
//  xxl: 1400px
//) !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

// максимальная ширина контейнера
// scss-docs-start container-max-widths
//$container-max-widths: (
//  sm: 540px,
//  md: 720px,
//  lg: 960px,
//  xl: 1140px,
//  xxl: 1320px
//) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
) !default;
// scss-docs-end container-max-widths


@import "~bootstrap/scss/bootstrap-grid.scss";
